/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-touchplate .panel-body {
    padding:0;
    position:relative;

    margin: 10px 20px 10px 20px;
}
#com-chilipeppr-widget-touchplate .settings-overlay {
    /*position:absolute;
    top:20px;
    left:40%;
    bottom:10px;
    right:10px;
    border:0px solid red;*/
}
#com-chilipeppr-widget-touchplate .input-group-addon {
    font-size:10px;
}
#com-chilipeppr-widget-touchplate .panel-footer {
    font-size:11px;
    padding:0;
    margin:0;
}
#com-chilipeppr-widget-touchplate-status {
    /*overflow: auto;
    max-height:30px;*/
    background:none;
    background-color:#f5f5f5;
    border:none;
}
